# Додаткове завдання з pandas
Вітаю! В цьому завданні будемо працювати з даними з опитування щодо зарплат ІТ спеціалістів на рексурсі DOU від грудня 2022 року. Впевнена, це буде цікаве дослідження, а заразом і практика pandas :)
Цей аналіз може бути корисним людині, яка обирає напрям роботи в ІТ і хоче зрозуміти тенденції. За якісного виконання цього аналізу, цей проєкт можна сміливо додавати у Ваше портфоліо!

In [2]:
import pandas as pd
import datetime

1. Зчитайте дані з файлу `2022_dec_raw.csv`. Увага! Тут необхідно використати аргумент `pd.read_csv` `sep=';'`, бо розділювач в даних - крапка з комою.

In [4]:
df = pd.read_csv('Data/2022_dec_raw.csv', sep=';')

In [5]:
df

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,...,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю
0,11.30.2022 10:26:37,"Так, працюю part-time",В Україні,Івано-Франківськ чи область,4000,Чоловік,29,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Blockchain,Стартап,8 років
1,11.30.2022 10:26:39,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,NaN,Чоловік,36,"Вища (бакалавр, спеціаліст, магістр)",Немає,Advanced,...,NaN,NaN,NaN,NaN,NaN,Ruby,Full Stack розробка,Public services / Government,Продуктова,3 роки
2,11.30.2022 10:26:58,"Так, працюю full-time",В Україні,Київ чи область,2500,Чоловік,34,"Вища (бакалавр, спеціаліст, магістр)",Немає,Elementary,...,NaN,NaN,NaN,NaN,NaN,C# / .NET,Full Stack розробка,"Adtech / Advertising, Security, Telecom",Продуктова,4 роки
3,11.30.2022 10:27:31,"Так, працюю full-time",В Україні,Львів чи область,500,Жінка,23,"Вища (бакалавр, спеціаліст, магістр)",Немає,Pre-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Telecom,Продуктова,Пів року
4,11.30.2022 10:27:34,"Ні, тимчасово не працюю",В Україні,Житомир чи область,2800,Жінка,33,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Automotive,Продуктова,6 років
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13310,01.09.2023 11:01,"Так, працюю full-time",В Україні,Харків чи область,4000,Чоловік,25,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,"Так, використовую",TypeScript,QA,Medtech / Healthcare,Продуктова,6 років
13311,01.09.2023 11:14,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,3500,Чоловік,28,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,JavaScript,Front-end розробка,Blockchain,Аутсорсингова,5 років
13312,01.09.2023 11:19,"Так, працюю full-time",В Україні,Дніпро чи область,1930,Чоловік,25,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Blockchain, Fintech / Banking, Mobile",Аутсорсингова,3 роки
13313,01.09.2023 11:28,"Так, працюю full-time",В Україні,Одеса чи область,4500,Чоловік,31,Середня,Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,NaN,JavaScript,Full Stack розробка,Mobile,Продуктова,8 років
13314,01.09.2023 11:38,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,4200,Чоловік,32,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,NaN,PHP,Back-end розробка,"High Load Systems, Media",Аутстафінгова,11 років

2. Які колонки мають дані?

In [7]:
df.columns

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?',
       'Зарплата у $$$ за місяць, лише ставка після сплати податків',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?',
       'Чи є у вас науковий ступінь? ', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація',
       'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію',
       'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4',
       'Ваша посада5', 'Ваша посада6', 'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

3. Скільки рядків та колонок мають дані? Скільки пропущених значень має кожна з колонок?

In [9]:
df.shape
print(f'Набір містить {df.shape[0]} рядків та {df.shape[1]} колонок.')

Набір містить 13315 рядків та 28 колонок.

In [10]:
df.isnull().sum()

Timestamp                                                                         0
Ви працюєте зараз в ІТ?                                                           0
Де ви зараз живете?                                                               0
В якій області ви зараз живете?                                                1777
Зарплата у $$$ за місяць, лише ставка після сплати податків                      27
Ваша стать                                                                        0
Ваш вік                                                                           0
Яка у вас освіта?                                                                 0
Чи є у вас науковий ступінь?                                                    111
Знання англійської мови                                                           0
Оберіть вашу посаду                                                               0
Ваш тайтл                                                                         0
Ваша спеціалізація                                                            13156
Вкажіть вашу спеціалізацію                                                    10951
Оберіть вашу спеціалізацію                                                    12829
Ваша посада                                                                   13010
Оберіть вашу посаду2                                                          12755
Ваша посада3                                                                  12494
Ваша посада4                                                                  12830
Ваша посада5                                                                  13027
Ваша посада6                                                                  12962
Ваша посада7                                                                  13199
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     8441
Основна мова програмування                                                     4255
Вкажіть вашу основну спеціалізацію                                             4256
В якій сфері працюєте?                                                            0
Тип компанії                                                                      0
Загальний стаж роботи за спеціальністю                                            0
dtype: int64

4. Які колонки мають всі значення заповненими (не мають дожного None значення)? Виведіть програмно список цих колонок.

In [12]:
col_not_na = df.columns[df.notna().all()].tolist()
print(col_not_na)

['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ', 'Ваша стать', 'Ваш вік', 'Яка у вас освіта?', 'Знання англійської мови', 'Оберіть вашу посаду', 'Ваш тайтл', 'В якій сфері працюєте?', 'Тип компанії', 'Загальний стаж роботи за спеціальністю']

5. Який тип мають колонки в наборі даних? Які з колонок типу object логічно на ваш погляд перетворити на числові колонки?

In [14]:
df.dtypes

Timestamp                                                                     object
Ви працюєте зараз в ІТ?                                                       object
Де ви зараз живете?                                                           object
В якій області ви зараз живете?                                               object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   object
Ваша стать                                                                    object
Ваш вік                                                                       object
Яка у вас освіта?                                                             object
Чи є у вас науковий ступінь?                                                  object
Знання англійської мови                                                       object
Оберіть вашу посаду                                                           object
Ваш тайтл                                                                     object
Ваша спеціалізація                                                            object
Вкажіть вашу спеціалізацію                                                    object
Оберіть вашу спеціалізацію                                                    object
Ваша посада                                                                   object
Оберіть вашу посаду2                                                          object
Ваша посада3                                                                  object
Ваша посада4                                                                  object
Ваша посада5                                                                  object
Ваша посада6                                                                  object
Ваша посада7                                                                  object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    object
Основна мова програмування                                                    object
Вкажіть вашу основну спеціалізацію                                            object
В якій сфері працюєте?                                                        object
Тип компанії                                                                  object
Загальний стаж роботи за спеціальністю                                        object
dtype: object

На числові логічно було б перетворити колонки "Ваш вік" і  "Зарплата у $$$ за місяць, лише ставка після сплати податків".

6. Трансформуйте колонки 'Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків' у тип даних float. УВАГА! Перед трансформацією подивіться, які дані містять ці колонки. Аби успішно трансформувати тип даних, треба спочатку привести рядки до того виду, який буде підходити, аби потім рядок зробити типом float.

In [17]:
for col in ['Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків']:
    df[col] = df[col].replace({r'\D': ''}, regex=True)

In [18]:
for col in ['Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків']:
    df[col] = pd.to_numeric(df[col]).astype(float)

In [19]:
df.dtypes

Timestamp                                                                      object
Ви працюєте зараз в ІТ?                                                        object
Де ви зараз живете?                                                            object
В якій області ви зараз живете?                                                object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   float64
Ваша стать                                                                     object
Ваш вік                                                                       float64
Яка у вас освіта?                                                              object
Чи є у вас науковий ступінь?                                                   object
Знання англійської мови                                                        object
Оберіть вашу посаду                                                            object
Ваш тайтл                                                                      object
Ваша спеціалізація                                                             object
Вкажіть вашу спеціалізацію                                                     object
Оберіть вашу спеціалізацію                                                     object
Ваша посада                                                                    object
Оберіть вашу посаду2                                                           object
Ваша посада3                                                                   object
Ваша посада4                                                                   object
Ваша посада5                                                                   object
Ваша посада6                                                                   object
Ваша посада7                                                                   object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     object
Основна мова програмування                                                     object
Вкажіть вашу основну спеціалізацію                                             object
В якій сфері працюєте?                                                         object
Тип компанії                                                                   object
Загальний стаж роботи за спеціальністю                                         object
dtype: object

7. Це завдання з зірочкою! Нам треба транфсформувати колонку Timestamp у тип даних `datetime64[ns]`. Це не так просто як здається на першйий погляд :) Але це реальна ситуація, яка може трапитись при зборі даних в роботі аналітиком.
Я запропоную один зі способів виконати завдання, але ви можете написати по-своєму. Головне - отримати колонку - потрібного типу.
Пропоную наступний алгоритм дій:
    1. Подивитись, які дані містяться в цій колонці. Виведіть перші і останні 5 записів. Чи однаковий формат цих даних? (спойлер: ні, бо інакше все було б просто :))
    2. Нам треба враховуючи різний формат даних перетворити рядок у колонці `Timestamp` на тип `datetime64[ns]`. Як це зробити? Для перетворення рядка на `datetime64` пропоную скористатись `datetime.datetime.strptime`.
    Для цього треба імпортувати бібліотеку `datetime`. Я пропоную написати функцію для обробки кожного окремого рядка, яка враховує довжину рядка і на основі цього застосовує різний формат даних дати.
    Як прописувати формат даних можна переглянути [тут](https://www.w3schools.com/python/python_datetime.asp).
    3. Коли функція для обробки кожного окремого рядка готова, застосуйте її для всіх даних з допомогою методу `apply`.

In [21]:
df.Timestamp

0        11.30.2022 10:26:37
1        11.30.2022 10:26:39
2        11.30.2022 10:26:58
3        11.30.2022 10:27:31
4        11.30.2022 10:27:34
                ...
13310       01.09.2023 11:01
13311       01.09.2023 11:14
13312       01.09.2023 11:19
13313       01.09.2023 11:28
13314       01.09.2023 11:38
Name: Timestamp, Length: 13315, dtype: object

In [22]:
def correct_date_time(date):
    if len(date) == 19:
        return datetime.datetime.strptime(date, '%m.%d.%Y %H:%M:%S')
    elif len(date) == 16:
        return datetime.datetime.strptime(date, '%d.%m.%Y %H:%M')
    else:
        return None

In [23]:
df['Timestamp'].apply(correct_date_time)

0       2022-11-30 10:26:37
1       2022-11-30 10:26:39
2       2022-11-30 10:26:58
3       2022-11-30 10:27:31
4       2022-11-30 10:27:34
                ...
13310   2023-09-01 11:01:00
13311   2023-09-01 11:14:00
13312   2023-09-01 11:19:00
13313   2023-09-01 11:28:00
13314   2023-09-01 11:38:00
Name: Timestamp, Length: 13315, dtype: datetime64[ns]

8. Для колонок типу даних object (які такими лишились після всіх наших трансформацій) виведіть кількість унікальних значень.

In [25]:
df.select_dtypes(include=['object']).nunique()

Timestamp                                                                     10850
Ви працюєте зараз в ІТ?                                                           5
Де ви зараз живете?                                                               2
В якій області ви зараз живете?                                                  23
Ваша стать                                                                        2
Яка у вас освіта?                                                                 5
Чи є у вас науковий ступінь?                                                      3
Знання англійської мови                                                           5
Оберіть вашу посаду                                                              22
Ваш тайтл                                                                        10
Ваша спеціалізація                                                                8
Вкажіть вашу спеціалізацію                                                        4
Оберіть вашу спеціалізацію                                                       21
Ваша посада                                                                      15
Оберіть вашу посаду2                                                              7
Ваша посада3                                                                      7
Ваша посада4                                                                      5
Ваша посада5                                                                      6
Ваша посада6                                                                      2
Ваша посада7                                                                      4
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?        2
Основна мова програмування                                                       33
Вкажіть вашу основну спеціалізацію                                               12
В якій сфері працюєте?                                                         1768
Тип компанії                                                                      6
Загальний стаж роботи за спеціальністю                                           19
dtype: int64

9. Для колонок типу даних object виведіть топ 10 найбільш частих значень з кількістю рядків, в яких це значення зустрічається. Зробіть це для кожної колонки окремо. Наприклад, в циклі.  
Що цікавого бачите? Які висновки можна зробити? Що особисто Вас вразило?

In [27]:
for col in df.select_dtypes(include=['object']).columns:
    print(f"Топ 10 найчастіших значень колонки")
    print(df[col].value_counts().head(10))
    print("\n")

Топ 10 найчастіших значень колонки
Timestamp
12.07.2022 12:54    29
12.07.2022 12:56    28
12.07.2022 12:57    25
12.07.2022 12:55    25
12.07.2022 12:58    24
12.07.2022 12:59    23
12.07.2022 13:01    19
12.07.2022 13:07    15
12.07.2022 13:00    15
12.07.2022 13:03    14
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ви працюєте зараз в ІТ?
Так, працюю full-time      12643
Ні, тимчасово не працюю      380
Так, працюю part-time        152
Так, я фрилансер             115
Інше                          25
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Де ви зараз живете?
В Україні                                                      11587
За кордоном (переїхали через війну, але планую повернутися)     1728
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
В якій області ви зараз живете?
Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Одеса чи область                443
Харків чи область               355
Полтава чи область              252
Черкаси чи область              232
Хмельницький чи область         230
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ваша стать
Чоловік    10221
Жінка       3094
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Яка у вас освіта?
Вища (бакалавр, спеціаліст, магістр)    10645
Дві вищі                                 1002
Ще студент вишу                           811
Середня                                   447
Середня спеціальна                        410
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Чи є у вас науковий ступінь?
Немає                  12980
Кандидат наук / PhD      216
Доктор наук                8
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Знання англійської мови
Upper-Intermediate    5538
Intermediate          4475
Advanced              1622
Pre-Intermediate      1401
Elementary             279
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Оберіть вашу посаду
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             6773
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     2364
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager     821
HR/Recruiter                                                                       560
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                       486
Analyst (Business, Data, System)                                                   485
DevOps, SRE                                                                        353
Marketing, SEO, Copywriter                                                         305
Data Science, Machine Learning, Big Data                                           288
Game Developer / Programmer                                                        160
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ваш тайтл
Middle            4710
Senior            3400
Junior            2316
Team Lead          883
Немає тайтлу       571
Tech Lead          430
Manager            375
Head               250
Intern/Trainee     240
Architect          140
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ваша спеціалізація
Programmer                       89
Gameplay Programmer              42
Engine Programmer                 8
.NET Programmer                   6
Ul Programmer                     4
Rendering/Graphics Programmer     4
Al Programmer                     3
Інше                              3
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Вкажіть вашу спеціалізацію
Manual QA         1467
Automation QA      531
General QA         354
Performance QA      12
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Оберіть вашу спеціалізацію
UI/UX Designer              201
Product Designer             60
3D Artist                    40
2D Artist                    35
Graphic / Video Designer     33
Game Designer                20
Designer                     15
Animator                     14
Other                        12
Web Designer                 11
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ваша посада
Other                            44
Marketing Manager                44
SEO Specialist                   34
Digital Marketing Manager        33
Copywriter                       27
Chief Marketing Officer (CMO)    22
Employer Brand Manager           20
SMM Manager                      20
PR Manager                       16
Product Marketing Manager        11
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Оберіть вашу посаду2
Recruiter                             201
HR Manager                            131
Talent Acquisition Manager             52
Talent Researcher/Sourcer              51
HR Director                            45
HR Business Partner                    40
People partner / Happiness manager     40
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ваша посада3
Project Manager     443
Product Manager     135
Delivery Manager     88
Product Owner        67
Scrum Master         42
Program Manager      29
Business Manager     17
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ваша посада4
Business Analyst    289
Data Analyst        106
Product Analyst      34
System Analyst       32
BI Analyst           24
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ваша посада5
Data Engineer / Big Data Engineer    104
Data Scientist                        93
Machine Learning Engineer             46
Computer Vision Engineer              21
Research Engineer                     15
BI Engineer                            9
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ваша посада6
DevOps Engineer              325
Site Reliability Engineer     28
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Ваша посада7
CTO                        41
Director of Engineering    33
CEO, (co-) founder         28
Program Director           14
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?
Ні, не використовую    2754
Так, використовую      2120
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Основна мова програмування
JavaScript    1695
Java          1241
Python        1190
TypeScript    1179
C# / .NET     1179
PHP            627
Kotlin         286
C++            251
Swift          221
SQL            201
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Вкажіть вашу основну спеціалізацію
Back-end  розробка               2847
Full Stack розробка              1628
Front-end  розробка              1628
QA                               1079
Mobile  розробка                  665
Робота з даними, аналіз даних     558
DevOps                            308
Інше                              293
Embedded                           49
embedded                            2
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
В якій сфері працюєте?
Інша                    1445
E-commerce              1243
Fintech / Banking        942
Medtech / Healthcare     547
GameDev                  449
Gambling                 352
Edtech / Education       250
Telecom                  232
Mobile                   200
Adtech / Advertising     193
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Тип компанії
Аутсорсингова    5593
Продуктова       4940
Аутстафінгова    1767
Стартап           539
Інша              355
Фріланс           121
Name: count, dtype: int64


Топ 10 найчастіших значень колонки
Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
Name: count, dtype: int64

**Висновки:** 
- у вибірці Business Analyst майже утричі більше ніж 
Data Analys;
- майже 3 тисячі опитаних не використовують жодну мову програмування;
- є багато людей, які досить нещодавно розпочали кар'єру (від 1 року до 2-х).

10. Виведіть медіанну (медіана - це значення, менше якого є рівно 50% вибірки і більше якого є теж рівно 50% вибірки)
ЗП (Зарплата у $$$) для кожного рівня знання англійської. Які висновки можна зробити?

In [30]:
df.groupby('Знання англійської мови')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()

Знання англійської мови
Advanced              3500.0
Elementary            1155.0
Intermediate          2150.0
Pre-Intermediate      1416.5
Upper-Intermediate    3300.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

**Висновок:** чим вищий рівень англійської, тим більші медіані ЗП, суттєве збільшення спостерігаємо вже з рівня Intermediate.

11. Є така штука як сортування значень категоріальної змінної. Нам це зараз стане в нагоді, адже рівні англійської можна посортувати.
Давайте відсотруємо рівні англ. і тайтли. Просто запустіть код нижче і проаналізуйте, що він робить.

In [33]:
df['Знання англійської мови'] = pd.Categorical(df['Знання англійської мови'],
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)

df['Ваш тайтл'] = pd.Categorical(df['Ваш тайтл'],
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)

**Цей код сортує рівні англійської і тайтли відповідно до загально прийнятої логіки: від найнижчого до найбільшого.**

12. Зробіть зводну таблицю, де стовпці - це 'Ваш тайтл', рядки - 'Знання англійської мови', а значення - медіанна ЗП. Які висновки можна зробити?
Тут ще для зручності можна зробити градієнтне забарвлення і відформатувати значення для легшого перегляду.

In [36]:
median_salary_by_title_eng = df.pivot_table(index = 'Знання англійської мови', columns = 'Ваш тайтл', values = 'Зарплата у $$$ за місяць, лише ставка після сплати податків', aggfunc = {'Зарплата у $$$ за місяць, лише ставка після сплати податків': ['median']}, observed=False)
display(median_salary_by_title_eng.style.format("{:.0f}").background_gradient(low=0.9, high=1.0))

**Висновки:** 
- цікаво, що інтерни як і з рівнем англійської Elementary, так і Advanced мають однакову медіану ЗП;
- для інших тайтлів досить закономірно, що працівники з вищим рівнем англійської мають більшу медіану ЗП;
- проте для Tech Lead люди з рівнем англійської Elementary мають таку ж ЗП, як і люди з вищим рівнем англійської. У цьому випадку заробітна плата мабуть більше залежить від технічних навичок і рівня відповідальності.

13. Виведіть результат методу describe() по колонцы розміру ЗП для топ 5 за частотою зустрічання в даних областей (В якій області ви зараз живете?). Зробіть висновки, де вигідніше жити з точки зору ЗП і чи суттєва різниця на Ваш погляд для прийняття рішення про переїзд?

In [39]:
top_5_region = df['В якій області ви зараз живете?'].value_counts().head(5).index

In [40]:
for region in top_5_region:
    print(f"Cтатистика для регіону: {region}")
    region_data = df[df['В якій області ви зараз живете?'] == region]
    print(region_data['Зарплата у $$$ за місяць, лише ставка після сплати податків'].describe())
    print("\n")

Cтатистика для регіону: Київ чи область
count      4411.000000
mean       3219.370438
std        5472.846882
min          80.000000
25%        1500.000000
50%        2800.000000
75%        4500.000000
max      340433.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64


Cтатистика для регіону: Львів чи область
count      2353.000000
mean       3312.686358
std        7186.022041
min         150.000000
25%        1375.000000
50%        2700.000000
75%        4500.000000
max      300269.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64


Cтатистика для регіону: Дніпро чи область
count      751.000000
mean      2582.584554
std       1864.711284
min        100.000000
25%       1025.000000
50%       2000.000000
75%       3600.000000
max      12000.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64


Cтатистика для регіону: Івано-Франківськ чи область
count      478.000000
mean      2705.257322
std       1905.673385
min        200.000000
25%       1200.000000
50%       2372.500000
75%       3775.000000
max      12436.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64


Cтатистика для регіону: Вінниця чи область
count       447.000000
mean       4449.897092
std       33266.932487
min         100.000000
25%        1300.000000
50%        2612.000000
75%        4100.000000
max      705082.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

## **Висновки:** 
- найбільші значення середньої заробітної плати ми маємо у Київській та Вінницькій областях (водночас для Вінницької ми маємо набагато менше значень);
-  у Вінницькій області ми маємо найбільше максимальне значення ЗП серед усіх 5 областей;
- найбільша мінімальна ЗП у Львівській області, тому мабуть розпочинати свою кар'єру найвигідніше саме там;
- якщо обирати серед міст-мільйоників, то найкращі ЗП у Києві або Львові, серед менших міст - варто обирати Вінницю.

14. Як зростає зарплата з роками? Для цього нам треба відформатувати колонку "Загальний стаж роботи за спеціальністю" аналогічно до того, як ми це робили для колонки 'Знання англійської мови' і потім вивести медіанні значення для кількості років стажу.

In [43]:
df['Загальний стаж роботи за спеціальністю'].unique()

array(['8 років', '3 роки', '4 роки', 'Пів року', '6 років', '1,5 року',
       '1 рік', '2 роки', '5 років', '10 років', 'Менше як 3 місяці',
       '11 років', '7 років', '15 і більше років', '3 місяці', '12 років',
       '9 років', '14 років', '13 років'], dtype=object)

In [44]:
df['Загальний стаж роботи за спеціальністю'] = pd.Categorical(df['Загальний стаж роботи за спеціальністю'],
    categories=[
        'Менше як 3 місяці', '3 місяці', 'Пів року', '1 рік', '1,5 року', 
        '2 роки', '3 роки', '4 роки', '5 років', '6 років', '7 років', 
        '8 років', '9 років', '10 років', '11 років', '12 років', 
        '13 років', '14 років', '15 і більше років'
    ],
    ordered=True
)

In [45]:
median_salary_by_years = df.groupby('Загальний стаж роботи за спеціальністю', observed=False)['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()
display(median_salary_by_years)

Загальний стаж роботи за спеціальністю
Менше як 3 місяці     800.0
3 місяці              525.0
Пів року              700.0
1 рік                 950.0
1,5 року             1200.0
2 роки               1700.0
3 роки               2450.0
4 роки               3000.0
5 років              3500.0
6 років              4000.0
7 років              4250.0
8 років              4700.0
9 років              4500.0
10 років             4600.0
11 років             5000.0
12 років             4750.0
13 років             4500.0
14 років             5050.0
15 і більше років    4500.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

**Висновки:** 
- цікаво, що у опитуваних працівників, які працюють менше як 3 місяці медіана ЗП більша ніж у тих, хто працює 3 місяці і навіть пів року;
- далі, починаючи з пів року і до 8 років, медіана зарплата постійно зростає разом із стажем;
- з 9 і до понад 15 років ЗП змінюється якось нелінійно (тобто і з 11, і з 14 роками стажу можна мати ЗП близько 5000).

Далі тут можна зробити багато аналогічних агрегацій, проаналізувати, в який час люди заповнювали форму, хто більше отримує, Business Analyst, чи Data Analyst. Я вас заохочувати не стримувати свій інтерес і покапати ці дані далі :)