#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [3]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [128]:
total_branch = df.groupby('Branch')['gross income'].sum()

In [130]:
total_branch

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [132]:
total_branch.max()

5265.1765

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [134]:
df[df['Branch'] == 'C'].sort_values(by="gross income", ascending=False).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.3,10,49.65,1042.65,2/15/2019,14:53,Credit card,993.0,4.761905,49.65,6.6

In [136]:
df[df['Branch'] == 'C'].groupby('City')['gross income'].max().head(1)

City
Naypyitaw    49.65
Name: gross income, dtype: float64

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [110]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')

In [112]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [117]:
invoices_by_category.groupby('Branch')['Electronic accessories'].agg('max')

Branch
A    60
B    55
C    55
Name: Electronic accessories, dtype: int64

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

1. **Яким способом найчастіше розраховуються покупці?**

In [124]:
payment = df.Payment.value_counts()

In [126]:
payment

Payment
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

На основі наших даних можемо побачити, що майже рівна кількість покупців розраховується за допомогою електронного гаманця, готівки та кредитки (є незначне відхилення). За даними досліджень покупці витрачають більше, коли використовують для оплати покупок картку або електронний гаманець. Тому доцільно було б розробити маркетингову стратегію, де магазин протягом певного часу надавав би знижки за розрахунки безготівково. 
Паралельно з цим можна було б встановити термінали самообслуговування (або збільшити їхню кількість), щоб більше покупців могли проводити розрахунки самостійно. Це значно економить час покупців та звільняє більше персоналу на обслуговування покупців у залі (видачі вагових продуктів, розкладання товару тощо), що може підвищити рівень задоволення клієнтів магазину.

2. **Які категорії товарів найчастіше купують чоловіки та жінки?**

In [152]:
invoices_by_gender = pd.pivot_table(df, index='Gender', columns='Product line', values='Invoice ID', aggfunc='count')

In [156]:
invoices_by_gender

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,84,96,90,64,79,88
Male,86,82,84,88,81,78

На основі наших даних можемо побачити, що жінки купують більше товарів у категоріях Модні аксесуари, Їжа та напої, а також Спорт та подорожі. Зазначимо, що такі показники є досить очікуваними, оскільки зазвичай саме жінки приділяють більше часу своїй зовнішності та частіше виконують хатню роботу, зокрема, займаються закупами для приготуванням їжі.   
Проте цікаво, що чоловіки купують більше у розділах Здоров’я та краса та Дім і стиль життя, натомість менше купують товарів Спорт та подорожі.   
Досить очікуваними є результати у категорії Електронні аксесуари, оскільки у наш час такі товари мають значний попит, незалежно від статі покупця.  
Загальна рекомендація - переглянути асортимент товарів цих розділів та звернути увагу на їхнє розташування у магазинах. Також застосувати маркетингову кампанію зі знижками або бонусами за купівлю товарів з додаткової категорії, щоб запропонувати більше товарів Здоров’я та краса та Дім і стиль життя - жінкам і натомість Спорт та подорожі - чоловікам.

3. **У яких філіалах супермаркету ('Branch') купують більшу кількість товарів, а де покупці витрачають найбільші суми?**

In [278]:
df.groupby('Branch').Quantity.sum()

Branch
A    1859
B    1820
C    1831
Name: Quantity, dtype: int64

In [288]:
df.groupby('Branch').Total.sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

In [290]:
df.groupby('Branch').Total.sum().max()

110568.7065

Загалом кількість товарів, яку продали магазини за досліджуваний період, практично не відрізняється. Проте магазини бранчу С загалом продали товарів на більшу суму, хоча показник кількості середній серед досліджуваних бранчів.    
Тому можемо припустити, що магазини бранчу С краще працюють з продажем дорожчих товарів. Пропонуємо, звернути увагу на цю стратегію магазинам інших бранчів та активніше займатися просуванням, зробити акцент на оформленні зон продажу і за необхідності розширити номенклатуру коштовніших найменувань.